<html>
	<head>
		<script src="static/dashboard/js/jquery-1.11.3.min.js"></script>
		<script>
		var ip_time_map = {};
    	{% for IP in IPs %}
	        ip_time_map["{{ IP.name }}"] = {{ IP.min_poll_time}};
    	{% endfor %}
    	</script>
		<script src="static/dashboard/js/script.js"></script>
		<script src="static/dashboard/js/application.js"></script>

		<link rel="stylesheet" href="/static/dashboard/stylesheets/application.css">
		<link rel="stylesheet" href="/static/dashboard/stylesheets/main.css">
		
		<title>Dashboard</title>
	</head>

	<body>
		<div id="left-pane">
			<div id="left-pane-content">
				<form id="add_form">
					<input type="text" name="ip" placeholder="IP"/><br/>
					<input type="text" name="polling_time" placeholder="Polling time" /><br/>
					<p id = "add_response"></p>
					<input type="button" value="Add IP" id="add_ip_button"/>
				</form>

				<form id="delete_form">
					<input type="text" name="ip" placeholder="IP"/><br/>
					<p id = "delete_response"></p>
					<input type="button" value="Delete IP" id="delete_ip_button" />
				</form>

				<a href="/logout">Logout</a>
			</div>
		</div>
		<div id="status-pane">
			<div class="gridster">
				<ul id="tiles">
				{% load mathfilters %}
				{% for IP in IPs %}
				    <li id = "{{ IP.name }}" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
				    	{% if IP.status = "200" %}
				    		<div data-view="Number" class="up-{{ forloop.counter0|mod:4 }}">
				    			<h2 class="value" data-bind="current | shortenedNumber | prepend prefix">UP</h2>
					    		<h1 class="title" data-bind="title">{{ IP.name }}</h1>
					    		<p class="updated-at" data-bind="updatedAtMessage">Last fetched: {{ IP.last_fetched }}</p>
				    		</div>
				    	{% elif IP.status = null %}
				    		<div data-view="Number" class="down">
				    			<h2 class="value" data-bind="current | shortenedNumber | prepend prefix">N/A</h2>
					    		<h1 class="title" data-bind="title">{{ IP.name }}</h1>
					    		<p class="updated-at" data-bind="updatedAtMessage">Status not available currently</p>
				    		</div>
				    	{% else %}
				    		<div data-view="Number" class="down">
				    			<h2 class="value" data-bind="current | shortenedNumber | prepend prefix">DOWN</h2>
				    			<h1 class="title" data-bind="title">{{ IP.name }}</h1>
					    		<p class="updated-at" data-bind="updatedAtMessage">Last fetched: {{ IP.last_fetched }}</p>
				    		</div>
				    	{% endif %}
				    </li>
				{% endfor %}
			    </ul>
			</div>
		</div>
	</body>
</html>