<script src="static/dashboard/js/jquery-1.11.3.min.js"></script>
<script src="static/dashboard/js/script.js"></script>

<form id="add_form">
	IP: <input type="text" name="ip"/><br/>
	Polling time: <input type="text" name="polling_time" /><br/>
	<p id = "add_response"></p>
	<input type="button" value="Add IP" id="add_ip_button"/>
</form>

<form id="delete_form">
	IP: <input type="text" name="ip"/><br/>
	<p id = "delete_response"></p>
	<input type="button" value="Delete IP" id="delete_ip_button" />
</form>


