<html>
    <head>
        <link rel="stylesheet" href="/static/dashboard/stylesheets/login.css" />
        
        <title>Dashboard</title>
    </head>

    <body>
        <div class="site__container">

            <div class="grid__container">

              <form action="{% url 'dashboard:login' %}" method="post" class="form form--login">
              {% csrf_token %}
                <div class="form__field">
                  <label class="fontawesome-user" for="login__username"><span class="hidden">Username</span></label>
                  <input id="login__username" type="text" class="form__input" name="username" placeholder="Username" required>
                </div>

                <div class="form__field">
                  <label class="fontawesome-lock" for="login__password"><span class="hidden">Password</span></label>
                  <input id="login__password" type="password" class="form__input" name="password" placeholder="Password" required>
                </div>

                <div class="form__field">
                  <input type="submit" value="Sign In">
                </div>

              </form>

            </div>

        </div>

    </body>
</html>